* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%
}

body {
	font-family: "Avenir Next",sans-serif;
	color: #636363;
	font-size: 14px;
}

#wrapper {
	max-width: 937px;
	margin: 0 auto;
	padding: 0 5%;
}

#header {
	width: 100%;
	height: 468px;
	margin-bottom: 31px;
}

#header nav {
	float: right
}

#header ul {
	list-style: none;
	margin-top: 26px;
}

#header li {
	float: left;
	margin-left: 7px;
}

#header h1,
#header h2 {
	display: none
}

#content {
	width: 100%;
	float: left;
}

#about {
	float: left;
	width: 100%;
	border-bottom: 10px solid #000;
	margin-bottom: 38px;
}

#about ul {
	float: left;
	width: 100%;
	list-style: none;
	margin-bottom: 25px;
}

#about li {
	float: left;
	width: 31%;
	margin-right: 3.5%;
}

#about li:last-child {
	margin-right: 0
}

#about h1 {
	border-bottom: 1px solid #919190;
	margin-bottom: 12px;
	font-family: 'Vollkorn',serif;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}

#about a {
	background: #faec32 url("../images/heart.png") 10px 10px no-repeat;
	color: #000;
	text-decoration: none;
	padding: 10px;
	font-size: 15px;
	display: block;
	border-radius: 5px;
	margin: 15px auto 0;
	font-weight: bold;
	text-indent: 40px;
	box-shadow: 1px 0 6px rgba(0,0,0,0.29);
}

#about p {
	line-height: 1.4
}

#devices {
	float: left;
	width: 100%;
	border-bottom: 10px solid #000;
	margin-bottom: 43px;
}

table {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 38px;
}

caption {
	display: none
}

th {
	background-color: #000;
	color: #fff;
	height: 40px;
	padding: 1%;
}

td {
	text-align: center;
	width: 14.67%;
	padding: 1%;
}

tr.odd {
	background-color: #fff
}

tr.even {
	background-color: #e6e5e1
}

table a {
	font-weight: bold;
	color: #636363;
}

#map {
	float: left;
	width: 100%;
	margin-bottom: 54px;
}

#map h2 {
	margin-bottom: 46px;
	color: #000;
}

#map-canvas {
	height: 462px
}

.infobox {
	margin-top: 10px;
	width: 290px;
	background: #555;
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.85)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.7),rgba(0,0,0,0.85));
	background: -moz-linear-gradient(top,rgba(0,0,0,0.7),rgba(0,0,0,0.85));
	background: -o-linear-gradient(top,rgba(0,0,0,0.7),rgba(0,0,0,0.85));
	background: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.85));
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: inset 0 1px rgba(255,255,255,0.15),1px 0 3px rgba(0,0,0,0.7);
}

.infobox:after,
.infobox:before {
	bottom: 100%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
}

.infobox:after {
	border-bottom-color: rgba(0,0,0,0.7);
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

.infobox:before {
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.infobox>img {
	position: absolute!important;
	right: 3px;
	top: 5px;
	margin: 0!important;
}

.infobox div {
	padding: 20px;
	overflow: hidden;
}

.location-icon {
	float: left;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 3px rgba(0,0,0,0.75);
	margin: 0 20px 30px 0;
}

.location-address,
.location-contact {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	text-shadow: 1px 2px 3px #000;
}

.location-contact {
	margin-top: 20px
}

.location-address a,
.location-contact a {
	color: #fff;
	text-decoration: none;
}

.location-address a:hover,
.location-contact a:hover {
	text-decoration: underline
}

#map-markers {
	display: none
}

#firmen {
	float: left;
	border-bottom: 10px solid #000;
	width: 100%;
}

#firmen ul {
	float: left;
	list-style: none;
	width: 100%;
}

#firmen li {
	float: left;
	width: 22%;
	margin-right: 4%;
	margin-bottom: 50px;
}

#firmen li:last-child {
	margin-right: 0
}

#firmen a {
	color: #636363
}

#footer {
	width: 100%;
	height: 38px;
	font-size: 12px;
	line-height: 38px;
	float: left;
	font-weight: bold;
}

#footer a#backtotop {
	float: right;
	width: 40px;
	height: 38px;
	display: block;
	background-image: url("../images/backtotop.png");
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#footer a {
	text-decoration: none;
	color: #636363;
}

#footer a:hover {
	text-decoration: underline
}

.footable.breakpoint>tbody>tr>td.expand {
	background: url('../images/plus.png') no-repeat 5px center;
	padding-left: 40px;
}

.footable.breakpoint>tbody>tr.footable-detail-show>td.expand {
	background: url('../images/minus.png') no-repeat 5px center
}

.footable.breakpoint>tbody>tr.footable-row-detail {
	background: #eee
}

.footable.breakpoint>tbody>tr:hover:not(.footable-row-detail) {
	cursor: pointer
}

@media only screen and (max-width:1176px) {
	body {
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		background-size: 100% auto;
	}

}

@media only screen and (max-width:959px) {
	#header {
		height: 380px
	}

}

@media only screen and (max-width:767px) {
	#header {
		height: 320px
	}

	#about li {
		width: 100%;
		margin-bottom: 20px;
	}

	#firmen li {
		width: 48%;
		margin-right: 4%;
	}

	#footer {
		line-height: 16px
	}

	#footer p {
		padding: 3px 0 10px
	}

}

@media only screen and (max-width:500px) {
	#header {
		height: 230px
	}

	#map-canvas {
		height: 200px
	}

	#firmen li {
		width: 100%;
		margin-right: 0;
	}

}

@media only screen and (max-width:320px) {
	#header {
		height: 160px
	}

	#header img {
		width: 110%
	}

	.infobox {
		width: 200px!important
	}

	.location-icon {
		display: none
	}

	.infobox div {
		padding: 5px;
		text-align: center;
	}

	.infobox p {
		float: none;
		margin: 0;
	}

	.infobox:after,
	.infobox:before {
		display: none
	}

}
