---
layout: default
---

<header id="about">
	<ul>
		<li>
			<h1>Über Open Device Labs</h1>
			<p>
				Open Device Labs - der kostenlose Gerätepark für Entwickler. ODLs ist eine neue, weltweite
				Bewegung um Software-Entwicklern Zugriff auf möglichst viele Testgeräte zu ermöglichen.
			</p>
		</li>
		<li>
			<h1>Open Device Lab Cologne</h1>
			<p>
				Das Open Device Lab Cologne wird von verschiedenen Kölner Firmen betrieben und du findest uns an vielen Stellen Kölns.
				Auf dieser Seite findest du eine Liste der zur Verfügung stehenden Geräte und den Weg zu uns!
			</p>
		</li>
		<li>
			<h1>Mitmachen!</h1>
			<p>
				Von der Community, für die Community! <br />
				Wir sind für jedes Testgerät dankbar!
				<strong>Bist Du Betreiber?</strong> Gib uns bescheid wir kümmern uns ums Gerätesharing!
				<a href="mailto:opendevicelab@railslove.com" title="Donate a Device">Donate a Device</a>
			</p>
		</li>
	</ul>
</header>

{% include devices.html %}
{% include map.html %}
{% include labs.html %}
