<article id="devices">
	<table class="footable">
		<caption>All available devices</caption>
		<thead>
		<tr>
			<th data-class="expand" >Hersteller</th>
			<th data-hide="phone" >Modell</th>
			<th>OS / Version</th>
			<th data-hide="phone,custom" >Contributor</th>
			<th data-hide="phone,custom">Standort</th>
			<th>verfügbar</th>
		</tr>
		</thead>
		<tbody>
		<tr class="odd">
			<td>Apple</td>
			<td>iPad 2</td>
			<td>iOS 6.0 (10A403)</td>
			<td><a href="http://jankus.name"p>Jan Kus</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Asus</td>
			<td>Transformer Pad Infinity (1920x1200)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Apple</td>
			<td>iPod touch 1</td>
			<td>iOS 3.1</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Apple</td>
			<td>iPod touch 2</td>
			<td>iOS 4.2.1</td>
			<td><a href="http://www.nodepond.com"p>Martin Wisniowski</a></td>
			<td><a href="/lab/dingfabrik"p>Dingfabrik e.V.</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Apple</td>
			<td>iPod touch 4</td>
			<td>iOS 6.0</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Apple</td>
			<td>iPhone 5</td>
			<td>iOS 7.0.3</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Google</td>
			<td>Nexus One</td>
			<td>Android 2.3</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Google</td>
			<td>Nexus 4</td>
			<td>Android 4.3</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>HTC</td>
			<td>Sensation</td>
			<td>Android 4.1 mit HTC Sense</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>HTC</td>
			<td>Google Nexus One (480x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>HTC</td>
			<td>Desire Z (480x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>HTC</td>
			<td>Hero (320x480)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>LG</td>
			<td>P880 Optimus 4x HD (720x1280)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Motorola</td>
			<td>Xoom US-version (Ohne branding)</td>
			<td>Android 4.1</td>
			<td><a href="https://twitter.com/jerolimov"p>Christoph&nbsp;Jerolimov</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Motorola</td>
			<td>Xoom (1280x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Samsung</td>
			<td>Galaxy Nexus</td>
			<td>Android 4.2.1 (<em>Kernel</em>: 3.0.31-gd5a18e0, <em>Build number</em>: JOP40D)</td>
			<td><a href="http://railslove.com"p>Railslove GmbH</a></td>
			<td><a href="/lab/bottfabrik"p>CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Samsung</td>
			<td>Google Nexus i9250 (720x1280)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Samsung</td>
			<td>Google Nexus S i9023 (480x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Samsung</td>
			<td>Galaxy Tab 2 (1024x600)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Samsung</td>
			<td>Galaxy Tab (1024x600)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Samsung</td>
			<td>Galaxy Tab 2 (1280x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Sony</td>
			<td>PSP</td>
			<td>Firmware 1.5 (Homebrew-fähig!)</td>
			<td><a href="http://www.nodepond.com"p>Martin Wisniowski</a></td>
			<td><a href="/lab/dingfabrik"p>Dingfabrik e.V.</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Odys</td>
			<td>Next (800x600)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/"p>Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100"p>Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPhone 2</td>
            <td>iOS 3.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPhone 3GS</td>
            <td>iOS 6.1.3</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPhone 4</td>
            <td>iOS 6.1.3</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPhone 4S</td>
            <td>iOS 6.1.4</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPhone 5</td>
            <td>iOS 6.1.4</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPhone 5</td>
            <td>iOS 7</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPhone 5C</td>
            <td>iOS 7.0</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPad 1</td>
            <td>iOS 5.1.1</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPad 2</td>
            <td>iOS 6.1.3</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPad 3</td>
            <td>iOS 6.1.3</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPad 4</td>
            <td>iOS 7.0</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPad 1 mini</td>
            <td>iOS 6.1.3</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Apple</td>
            <td>iPad Air</td>
            <td>iOS 7.02</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Apple</td>
            <td>iPad Mini</td>
            <td>iOS 6.0 bis iOS 7.0</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Samsung</td>
            <td>UE40F6500</td>
            <td>-</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Samsung</td>
            <td>Galaxy ACE</td>
            <td>Android 2.3.6</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Samsung</td>
            <td>Galaxy S2</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Samsung</td>
            <td>Galaxy S3 mini</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Samsung</td>
            <td>Galaxy S3</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Samsung</td>
            <td>Galaxy S4</td>
            <td>Android 4.2.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Samsung</td>
            <td>Galaxy Tab 2</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Samsung</td>
            <td>Galaxy Tab 1 (10.1 N)</td>
            <td>Android 3.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Asus</td>
            <td>Google Nexus 7</td>
            <td>Android 4.2.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Asus</td>
            <td>Google Nexus 7 2013</td>
            <td>Android 4.3</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Asus</td>
            <td>Google Nexus 10</td>
            <td>Android 4.2.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Nokia</td>
            <td>Lumia 820</td>
            <td>Windows Phone</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Nokia</td>
            <td>Lumia 625</td>
            <td>Windows Phone</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Nokia</td>
            <td>Lumia 920</td>
            <td>Windows Phone</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Windows</td>
            <td>Surface</td>
            <td>Windows RT</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Motorola</td>
            <td>MileStone 2</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>LG</td>
            <td>E975 Optimus G</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>HTC</td>
            <td>Desire</td>
            <td>Android 2.2.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>HTC</td>
            <td>One</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Sony</td>
            <td>Xperia Z</td>
            <td>Android 4.1.2</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Sony</td>
            <td>Xperia S</td>
            <td>Android 4.0.4</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>Amazon</td>
            <td>Kindle Fire HD 8.9</td>
            <td>Android</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>BlackBerry</td>
            <td>Curve 9360</td>
            <td>OS 7.0.0</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="odd">
            <td>BlackBerry</td>
            <td>Z10</td>
            <td>OS 10.0.10.99</td>
            <td><a href="http://www.odlc.de/"p>odlc</a></td>
            <td><a href="/lab/odlc"p>odlc - openDeviceLab Cologne</a></td>
            <td><a href="mailto:info@odlc.com">Ja</a></td>
        </tr>
        <tr class="even">
            <td>Google</td>
            <td>Nexus 5 (32GB)</td>
            <td>Android OS 4.4</td>
            <td><a href="http://www.sevenval.com">Sevenval GmbH</a></td>
            <td><a href="/lab/sevenval">Sevenval GmbH</a></td>
            <td><a href="mailto:odl@sevenval.com">Anfrage</a></td>
        </tr>
		</tbody>
	</table>
</article>
