<article id="devices">
	<table class="footable">
		<caption>All available devices</caption>
		<thead>
		<tr>
			<th data-class="expand" >Hersteller</th>
			<th data-hide="phone" >Modell</th>
			<th>OS / Version</th>
			<th data-hide="phone,custom" >Contributor</th>
			<th data-hide="phone,custom">Standort</th>
			<th>verfügbar</th>
		</tr>
		</thead>
		<tbody>
		<tr class="odd">
			<td>Apple</td>
			<td>iPad 2</td>
			<td>iOS 6.0 (10A403)</td>
			<td><a href="http://jankus.name" title="Jan Kus">Jan Kus</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Asus</td>
			<td> Transformer Pad Infinity (1920x1200)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Apple</td>
			<td>iPod touch 1</td>
			<td>iOS 3.1</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Apple</td>
			<td>iPod touch 2</td>
			<td>iOS 4.2.1</td>
			<td><a href="http://www.nodepond.com" title="Nodepond">Martin Wisniowski</a></td>
			<td><a href="/lab/dingfabrik" title="Dingfabrik e.V.">Dingfabrik e.V.</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Apple</td>
			<td>iPod touch 4</td>
			<td>iOS 6.0</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Apple</td>
			<td>iPhone 5</td>
			<td>iOS 6.0.1</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Google</td>
			<td>Nexus One</td>
			<td>Android 2.3</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>HTC</td>
			<td>Magic <em>(UK/Vodafone)</em></td>
			<td>Android 2.1 oder 2.2 mit CyanogenMod</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>HTC</td>
			<td>Sensation</td>
			<td>Android 4.1 mit HTC Sense</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>HTC</td>
			<td>Google Nexus One (480x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>HTC</td>
			<td>Desire Z (480x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>HTC</td>
			<td>Hero (320x480)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>LG</td>
			<td>P880 Optimus 4x HD (720x1280)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Motorola</td>
			<td>Xoom US-version (Ohne branding)</td>
			<td>Android 4.1</td>
			<td><a href="https://twitter.com/jerolimov" title="Christoph Jerolimov">Christoph Jerolimov</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Motorola</td>
			<td>Xoom (1280x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Samsung</td>
			<td>Galaxy Nexus</td>
			<td>Android 4.2.1 (<em>Kernel</em>: 3.0.31-gd5a18e0, <em>Build number</em>: JOP40D)</td>
			<td><a href="http://railslove.com" title="Railslove GmbH">Railslove GmbH</a></td>
			<td><a href="/lab/bottfabrik" title="CoWoCo Bottfabrik (Railslove GmbH)">CoWoCo Bottfabrik (Railslove GmbH)</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Samsung</td>
			<td>Google Nexus i9250 (720x1280)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Samsung</td>
			<td>Google Nexus S i9023 (480x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Samsung</td>
			<td>Galaxy Tab 2 (1024x600)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Samsung</td>
			<td>Galaxy Tab (1024x600)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Samsung</td>
			<td>Galaxy Tab 2 (1280x800)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="even">
			<td>Sony</td>
			<td>PSP</td>
			<td>Firmware 1.5 (Homebrew-fähig!)</td>
			<td><a href="http://www.nodepond.com" title="Nodepond">Martin Wisniowski</a></td>
			<td><a href="/lab/dingfabrik" title="Dingfabrik e.V.">Dingfabrik e.V.</a></td>
			<td>auf Anfrage (Privatgerät) <a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		<tr class="odd">
			<td>Odys</td>
			<td>Next (800x600)</td>
			<td>n/a</td>
			<td><a href="http://www.finanzen100.de/" title="Finanzen100">Finanzen100 GmbH</a></td>
			<td><a href="/lab/finanzen100" title="Finanzen100 GmbH">Finanzen100 GmbH</a></td>
			<td><a href="mailto:opendevicelab@railslove.com">[Anfragen]</a></td>
		</tr>
		</tbody>
	</table>
</article>