<article id="map">
	<h2>Du findest uns überall hier:</h2>
	<div id="map-canvas"></div>
	<div id="map-markers">
		{% for page in site.pages %}
		{% if page.labname %}
		<li>
			<div data-loc="{{ page.lablatlon }}" data-title="{{ page.labname }}">
				<div>
					<img class="location-icon" src="{{ page.labimage }}" alt="{{ page.labname }}"  />
					<p class="location-address">{{ page.labname }}<br/>{{ page.labaddress }}</p>
					<p class="location-contact">{{ page.labhomepage }}</p>
				</div>
			</div>
		</li>
		{% endif %}
		{% endfor %}
	</div>
</article>